* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  text-align: center;
  font-family: 'dax-boldregular';
}


.mobile #titleBar
{
  position: relative;
  height: 50px;
  text-align: left;
}

.mobile #titleBar h1{
  position: absolute;
  padding-left: 20px;
}


body.landscape.mobile #titleBar
{
  position: absolute;
  text-align: center;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar {
  right: 80px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 100px;
}

/* If there are multiple scenes the title bar must make space for the scene list toggle */
body.multiple-scenes #titleBar {
  left: 40px;
}

body.multiple-scenes.mobile #titleBar {
  left: 50px;
}

#titleBar .sceneName {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  background-color: rgb(254,0,0);
  background-color: rgba(235, 33, 46,1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body.desktop #titleBar .sceneName{
    position:absolute;
    padding-right: 25px;
}

.mobile #titleBar .sceneName {
  position: absolute;
  padding-left: 20px;
  line-height: 40px;
}

body.landscape.mobile #titleBar .sceneName{
  padding-left: 13%;
}

@media (max-width: 400px){
  .mobile #titleBar .sceneName {
    position: absolute;
    margin-left: -10px;
    font-size: 15px;
    line-height: 40px;
  }

  .mobile #fullscreenToggle .icon{
    margin-top: 2px;
    width: 48%;
    height: 48%;
  }
  .mobile #autorotateToggle .icon{
    margin-top: 2px;
    width: 50%;
    height: 50%;
    left: 25px;
  }

  .mobile #toggleDeviceOrientation{
    margin-top: 10px;
    left: 250px;
  }

  .mobile #toggleDeviceOrientation img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
  }

}


body.landscape.fullscreen-disabled.mobile #toggleDeviceOrientation{
  left: 82%;
}

body.fullscreen-disabled.mobile #toggleDeviceOrientation {
    left: 72%;
  }

@media (max-width: 360px){
  .mobile #toggleDeviceOrientation{
    margin-top: 10px;
    left: 233px;
  }
}


@media (max-width: 350px){

  .mobile #titleBar .sceneName {
    position: absolute;
    margin-left: -10px;
    font-size: 12px;
    line-height: 40px;
  }

  .mobile #fullscreenToggle{
      left: 85%;
  }

  .mobile #fullscreenToggle .icon{
    width: 48%;
    height: 48%;
  }

  body.fullscreen-disabled.mobile #titleBar {
    width: 105%;
  }

/*  body.fullscreen-disabled.mobile #toggleDeviceOrientation {
    left: 72%;
  }*/

  .mobile #autorotateToggle{
      left: 82%;
  }

  .mobile #autorotateToggle .icon{
    width: 48%;
    height: 48%;
  }

  body.fullscreen-enabled.mobile #autorotateToggle{
    left: 70%;
  }

  body.fullscreen-disabled.mobile #titleBar .sceneName{
    font-size: 14px;
  }

  .mobile #toggleDeviceOrientation{
    margin-top: 10px;
    left: 60%;
  }

  .mobile #toggleDeviceOrientation img{
    margin-top: 10px;
    width: 90%;
    height: 90%;
  }


  body.landscape.mobile #titleBar .sceneName{
    position: absolute;
    padding-left: 4%;
  }

}

#fullscreenToggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(254,0,0);
  background-color: rgba(235, 33, 46,1);
}

.mobile #fullscreenToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #fullscreenToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#autorotateToggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(254,0,0);
  background-color: rgba(235, 33, 46,1);
}

.mobile #autorotateToggle {
  width: 50px;
  height: 50px;
}

/* If there is a fullscreen button, autorotate must placed a bit to the left */
body.fullscreen-enabled #autorotateToggle {
  right: 40px;
}

body.fullscreen-enabled.mobile #autorotateToggle {
  right: 50px;
}

#autorotateToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #autorotateToggle .icon {
  top: 10px;
  right: 10px;
}

#autorotateToggle .icon.on {
  display: none;
}

#autorotateToggle .icon.off {
  display: block;
}

#autorotateToggle.enabled .icon.on {
  display: block;
}

#autorotateToggle.enabled .icon.off {
  display: none;
}

#sceneListToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

.mobile #sceneListToggle {
  width: 50px;
  height: 50px;
}

#sceneListToggle .text {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100%;
  line-height: 30px;
}

#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneListToggle .icon {
  top: 10px;
  right: 10px;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

#sceneList {
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 40px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.mobile #sceneList {
  padding-top: 50px;
}

#sceneList .scenes {
  width: 100%;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

#sceneList .scene.current {
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

/* Hide scene list when only a single scene exists */
body.single-scene #sceneList, body.single-scene #sceneListToggle {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */

  margin-left: 3px;

  font-size: 16px;

  max-width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);

  color: #fff;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(235, 33, 46,1);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 80%;
  height: 80%;
  margin-top: 12%;
  margin-left: 9%;


}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 220px;
  background-color: rgba(235, 33, 46,1);
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  background-color: rgba(235, 33, 46,1);
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  font-family:'dax-mediumregular';
  vertical-align: middle;
  -moz-user-select: text;
  -webkit-user-select: text;
  background-color: rgba(235, 33, 46,1);
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgba(235, 33, 46,1);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  background-color: rgba(235, 33, 46,1);
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  border-right: 3px solid rgba(235, 33, 46,1);
  border-left: 3px solid rgba(235, 33, 46,1);
  border-bottom: 3px solid rgba(235, 33, 46,1);
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  color: black;
  background-color: rgb(255,255,255);
  font-family:'dax-regularregular';
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.a:link
{
  color: blue;
}

.a:visited
{
  color:purple;
}

.desktop .info-hotspot.visible .info-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0s;
}

/* Info hotspot modal */

.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(103,115,131);
  background-color: rgba(235, 33, 46,1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  background-color: rgba(235, 33, 46,1);
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: rgba(235, 33, 46,1); /*THIS IS THE MOBILE WRAPPER BAR COLOR*/
}

.info-hotspot-modal .info-hotspot-icon {
  width: 80%;
  height: 80%;
  margin-top: 12%;
  margin-left: 9%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  background-color: rgba(235, 33, 46,1); /*THIS IS THE MOBILE TITLE BAR COLOR*/
  font-family: 'dax-mediumregular';
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78,88,104);
  background-color: rgba(235, 33, 46,1); /*THIS IS THE MOBILE X BUTTON COLOR*/
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgb(58,68,84);
  background-color: rgba(255,255,255,0.8);
  border-right: 3px solid rgba(235, 33, 46,1);
  border-left: 3px solid rgba(235, 33, 46,1);
  border-bottom: 3px solid rgba(235, 33, 46,1);
  font-family: 'dax-regularregular';
  color:black;
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media (max-width: 500px){
  .info-hotspot-modal .info-hotspot-text {
    top: 115px;
  }
  .info-hotspot-modal .info-hotspot-title-wrapper {
    height: 55px;
  }
  .info-hotspot-modal .info-hotspot-close-wrapper{
    height: 55px;
  }

  .info-hotspot-modal .info-hotspot-icon-wrapper{
    height: 55px;
  }


}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

/* View control buttons */

.viewControlButton {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-right: -50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small*/
@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
}

.viewControlButton .icon {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 45px;
  height: 45px;
}

/* Center is at margin-left: -20px */
.viewControlButton-1 {

  margin-left: -95px;
}
.viewControlButton-2 {
  margin-left: -45px;
}
.viewControlButton-3 {
  margin-left: 5px;
}
.viewControlButton-4 {
    margin-left: 55px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}

.popup
{
  position: absolute;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 150px;
  top: 40%;
  margin-top: -100px;
  background: rgba(235, 33, 46,1);
  border-radius: 25px;
  z-index: 3;
  color: white;
  border-radius: 20px;
	text-align: center;
}

#popup2:before {
  position: absolute;
  content: "";
  background: rgba(235, 33, 46,1);
  height:350px;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border: 4px solid rgba(235, 33, 46,1);
	border-radius: 15px;
}

body.landscape.mobile .popup{
  position: absolute;
  padding: 10px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  height: 150px;
  top: 40%;
  margin-top: -100px;
  background: rgba(235, 33, 46,1);
  border-radius: 25px;
  z-index: 3;
  color: white;
  border-radius: 20px;
  text-align: center;
}

body.landscape.mobile #popup2:before{
  position: absolute;
  content: "";
  background: rgba(235, 33, 46,1);
  height:275px;
  width:500px;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border: 4px solid rgba(235, 33, 46,1);
  border-radius: 15px;
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}


.button{
	background-color: white;
	width: 200px;
	height: 30px;
	margin-left: 12.5%;
	margin-top: 2%;
	border-radius: 10px;
	padding:5px;
	color:black;
	text-align: center;
  cursor:pointer;
}

body.landscape.mobile .button{
  margin-left: 28%;
}

.button:hover
{
  background-color: grey;
}

.button h3{
	margin-top: 2px;
  font-family: 'dax-regularregular';
}

.headerbar{
	background-color: rgba(235, 33, 46,1);
  font-family:'dax-mediumregular';
	width: 280px;
	height: 50px;
	margin-top: -7px;
	margin-left: -10px;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	padding:5px;
	color:white;
	text-align: center;
}

body.landscape.mobile .headerbar{
  	width: 500px;
}

.headerbar h1
{
	margin-top: -4px;
	margin-left: 5px;
  font-size: 20px;
}

body.landscape.mobile .headerbar h1{
  margin-left: 0;
}

.popup a,
.popup a:visited {
  color: #000000; // Confirmation button colour
}

.popup p{
  padding-top: 5px;
  padding-bottom: 10px;
	font-size: 17px;
  font-family: 'dax-lightregular';
  color:white;
}

.popup h1{
  font-size: 25px;
  font-family: 'dax-boldregular';
  color: white;
}

#toggleDeviceOrientation {
  display: block;
  position: absolute;
  top: 0;
  right:0;
  margin-top:-10px;
  margin-right: 95px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(254,0,0);
  background-color: rgba(235, 33, 46,1);
}

.mobile #toggleDeviceOrientation{
  margin-top:-4px;
  top: 0;
  right: 20px;
}

#toggleDeviceOrientation img {
  width: 34px;
  margin: 8px;
}

#toggleDeviceOrientation .disable {
  display: none;
}

#toggleDeviceOrientation.enabled .disable {
  display: block;
}

#toggleDeviceOrientation.enabled .enable {
  display: none;
}

#accessibleWrapper{
  width:inherit;
  height:inherit;
  position: relative;
}

#accessibility{
  background-color: rgba(235, 33, 46, 1);
  position: absolute;
  margin-left: 0;
  text-align: center;
  width: 6%;
  height: 4%;
}

.desktop #accessibility{
  position: absolute;
  top: 0;
  margin-top: 1px;
  height: 38px;
}

.mobile #accessibility{
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 3.5%;
  border-top: 2px solid rgba(200, 33, 46, 0.5);
}

.mobile.landscape #accessibility{
  position: absolute;
  top: 0;
  width: 6%;
  height: 4%;
  margin-top: 0%;
  margin-left: 1%;
  border-top: 0px;
}

.desktop #accessibility:hover{
    background-color: rgba(200, 33, 46,1);
    cursor: pointer;
}

.desktop #accessibility.fullscreen{
  height: 38px;
}

#accessibility h2{
  font-family: 'dax-regularregular';
  margin-top: 10%;
}

.mobile #accessibility h2{
  margin-top: 5%;
}

.mobile.landscape #accessibility h2{
  margin-top: 40%;
}

@media (max-width: 385px){ /*Google Nexus 4 (768x1280)*/
  .mobile #accessibility{
    position: absolute;
    height: 4.5%;
  }
}

@media (max-width: 350px){ /*Nexus S (480x800)*/
  .mobile #accessibility{
    position: absolute;
    width: 29%;
    height: 5%;
    padding-bottom: 1px;
  }
}

@media (max-width: 320px) { /*iphone 5s*/
  .mobile #accessibility{
    position: absolute;
    width: 29%;
    height: 6%;
    padding-bottom: 1px;
  }
}

@media (max-width: 575px){
  .mobile.landscape #accessibility h2{
    margin-top: 50%;
    margin-left: 2%;
  }
}
